body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffeb92, #f3f3f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4d6d7c, #d1e8e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
    
    .separator {
      margin: 3rem 0;
      /* border-bottom: 1px dashed #fff; */
      align-items: center;
    }
    
    .text-uppercase {
      letter-spacing: 0.1em;
    }
    
    .text-gray {
      color: #aaa;
    }
    
    .vertical-nav {
      min-width: 17rem;
      width: 17rem;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s;
    }
    
    .page-content {
      width: calc(100% - 17rem);
      margin-left: 17rem;
      transition: all 0.4s;
      text-align: left;
    }
    
    /* for toggle behavior */
    
    #sidebar.active {
      margin-left: -17rem;
    }
    
    #content.active {
      width: 100%;
      margin: 0;
    }
    
    @media (max-width: 768px) {
      #sidebar {
        margin-left: -17rem;
      }
      #sidebar.active {
        margin-left: 0;
      }
      #content {
        width: 100%;
        margin: 0;
      }
      #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
      }
    }


    .nav-item{
      border: .5px solid rgb(73, 73, 73);
    }

    .nav-link:hover
    {
      background-color:rgb(99, 99, 99) ;
    }

    .bg-set
    {
      background-color: rgb(44, 44, 44);
      color: rgb(255, 255, 255);
    }

    .align-button
    {
      position: absolute;
      right: 50px;
      bottom: 50px;
      padding-left: 40px;
      padding-right: 40px;
    }

    /* .btn
    {
      width:10%;
    } */

    .head-s
    {
      padding: 50px;
    }

    .bg-adjust
    {
      background-color: #2f7a645d;
    }